<div class="card">
  <div class="card-header text-center">
    Stats
  </div>
  <img class="card-img-top" src="http://community.mis.temple.edu/peeradvisors/files/2013/09/stats.jpg"
       alt="Card image cap">

  <div class="card-block">
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <label class="form-control-label">Stat Type</label>
          <select class="form-control" [(ngModel)]="statType" (change)="setDefaultSort(statType);">
            <option>Receiver</option>
            <option>Defender</option>
            <option>Quarterback</option>
          </select>
        </div>
        <div class="col-3">
          <label class="form-control-label">Season</label>
          <select class="form-control">
            <option>Spring 2017</option>
          </select>
        </div>
        <div class="col-3">
          <label class="form-control-label">Team</label>
          <select class="form-control" [(ngModel)]="teamFilter">
            <option value="All">All</option>
            <option *ngFor="let team of getTeamNames()" [value]="team.team_names">{{team.team_names}}</option>
          </select>
        </div>
        <div class="col-3">
          <label class="form-control-label">Find Player</label>
          <input class="form-control" [(ngModel)]="nameFilter">
        </div>
      </div>
    </div>
  </div>
  <div class="card-block">
    <table class="table table-sm">
      <thead>
      <tr>
        <th></th>
        <th>Player</th>
        <th *ngFor="let stat of getApplicableStats()">
          <div (click)="sortStat = stat" style="cursor:pointer; display:inline;">{{stat}}</div>
         <div  [hidden]="sortStat != stat " style="display:inline;"> <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16"><path fill-rule="evenodd" d="M0 5l6 6 6-6z"/></svg></div>
        </th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of getPlayers()">
        <td scope="row"><img src="../../assets/profile.jpg" height="20px" width="20px"></td>
        <td>{{player.full_names}}</td>
        <td *ngFor="let stat of getApplicableStats()">{{getComputedStat(stat, player)}}</td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
