<div class="container-fluid header-container">
  <div class="row">
    <div class="col-sm-6 col-md-3">
     <div [routerLink]="['home']"> <div class="title">
        <img src="../../assets/logo.png" height="50px">
      </div>
      <div class="subtitle">
        By Dave Oji and Seth Vg
      </div></div>
    </div>
    <div class="col-sm-6 col-md-9 hidden-sm-down">
      <div class="container-fluid">
        <div class="row justify-content-end" style="padding-top:15px">
          <div class="col-lg-2 col-md-3 col-xs-4">
            <button class="btn btn-block btn-outline-secondary" [routerLink]="['stats']">Stats</button>
          </div>
          <div class="col-xl-2 col-md-3  col-xs-4">
            <button class="btn btn-block btn-outline-secondary" [routerLink]="['teams']">Teams</button>
          </div>
          <div class="col-xl-2 col-md-3  col-xs-4">
            <button class="btn btn-block btn-outline-secondary" [routerLink]="['schedule']">Schedule</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
