@import "../../vars";

.header-container{
  background-color: $darkgreen;
  height:70px;
}

.title{
  margin-left:20px;
  font-size:35px;
  color: $turq;
}

.subtitle{
  margin-left:60px;
  font-size:10px;
  color: $grey;
}
