<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">Recent Plays</div>
    </div>
    <div class="row" *ngFor="let play of getPlays() | reverse" style="background-color: white; padding: 10px; border:1px solid black; margin-bottom:5px;">


      <div class="col-sm-12">Offense: {{play.receiver_teams}}</div>
      <div class="col-sm-12">Quarterback: {{play.quarterbacks}}</div>
      <div class="col-sm-12">Receiver: {{play.receivers}}</div>
      <div class="col-sm-12">Results: {{play.receiver_results}}</div>
        <div class="col-sm-12">Defense: {{play.defender_teams}}</div>
      <div class="col-sm-12">Defender: {{play.defenders}}</div>
      <div class="col-sm-12">Result: {{play.defender_results}}</div>

    </div>
</div>
