<div class="container-fluid">
  <div class="row text-center" *ngIf="selectedSchedule == null">
    <div class="col-sm-12"> Select Game</div>
    <div class="col-sm-12 text-left scheduleChoice" *ngFor="let schedule of getSchedules()"
         (click)="selectedSchedule = schedule;">
      {{schedule.dates}} @ {{schedule.times}}pm<br/>
      {{schedule.aways}} vs {{schedule.homes}}
    </div>
  </div>
  <div class="row" *ngIf="selectedSchedule != null && offense == null">
    <div class="col-sm-12">
      <div class="text-center">Select Offense</div>
      <div class="scheduleChoice" (click)="offense = selectedSchedule.aways; defense=selectedSchedule.homes"
           style="padding:10px">{{selectedSchedule.aways}}
      </div>
      <div class="scheduleChoice" (click)="offense = selectedSchedule.homes; defense=selectedSchedule.aways"
           style="padding:10px">{{selectedSchedule.homes}}
      </div>
    </div>
  </div>
  <app-plays *ngIf="selectedSchedule != null && offense == null" [schedule]="selectedSchedule"></app-plays>
  <div class="row" *ngIf="selectedSchedule != null && offense != null && quarterback == null">

    <button class="btn btn-outline-warning btn-block font-weight-bold"  (click)="offense = null;" style="margin-bottom:20px; background-color: white">Back</button>

    <div class="col-sm-12 text-center">
      Select Quarterback
    </div>
    <div *ngFor="let player of getOffensivePlayers()" class="scheduleChoice col-sm-12" style="padding:10px;"
         (click)="quarterback = player">{{player}}
    </div>
  </div>

  <div class="row" *ngIf="selectedSchedule != null && offense != null && quarterback != null && receiver == null">
    <button class="btn btn-outline-warning btn-block font-weight-bold"  (click)="quarterback = null;" style="margin-bottom:20px; background-color: white">Back</button>

    <div class="col-sm-12 text-center">
      Select Reciever
    </div>
    <div *ngFor="let player of getOffensivePlayers(true)" class="scheduleChoice col-sm-12" style="padding:10px;"
         (click)="receiver = player">{{player}}
    </div>
  </div>

  <div class="row"
       *ngIf="selectedSchedule != null && offense != null && quarterback != null && receiver != null && receiverResult == null">
    <div class="col-sm-12 text-center">
      <button class="btn btn-outline-warning btn-block font-weight-bold"  (click)="receiver = null;" style="margin-bottom:20px; background-color: white">Back</button>

      Select Reciever Result
    </div>
    <div *ngFor="let result of getOffensiveResults()" class="scheduleChoice col-sm-12" style="padding:10px;"
         (click)="setReceiverResult(result)">{{result.name}}
    </div>
  </div>

  <div class="row"
       *ngIf="selectedSchedule != null && offense != null && quarterback != null && receiver != null && receiverResult != null && defenderResult == null">
    <button class="btn btn-outline-warning btn-block font-weight-bold"  (click)="receiverResult = null;" style="margin-bottom:20px; background-color: white">Back</button>

    <div class="col-sm-12 text-center">
      Select Defender Result
    </div>
    <div *ngFor="let result of getDefensiveResults()" class="scheduleChoice col-sm-12" style="padding:10px;"
         (click)="selectDefenderResult(result)">{{result}}
    </div>
  </div>


  <div class="row"
       *ngIf="selectedSchedule != null && offense != null && quarterback != null && receiver != null && receiverResult != null && defenderResult != null && defender == null">
    <div class="col-sm-12 text-center">
      <button class="btn btn-outline-warning btn-block font-weight-bold"  (click)="defenderResult = null;" style="margin-bottom:20px; background-color: white">Back</button>

      Select Defender
    </div>
    <div *ngFor="let player of getDefensivePlayers()" class="scheduleChoice col-sm-12" style="padding:10px;"
         (click)="defender = player">{{player}}
    </div>
  </div>



  <div class="row"
       *ngIf="selectedSchedule != null && offense != null && quarterback != null && receiver != null && receiverResult != null && defender != null && defenderResult != null">
    <div class="col-12">
      <div class="container-fluid noPad">
          <div class="row scheduleChoice" style="cursor: default; padding:10px">
            <div class="col noPad font-weight-bold">Quarterback</div>
            <div class="col text-right noPad">{{quarterback}}</div>
          </div>
      </div>
      <div class="container-fluid noPad">
        <div class="row scheduleChoice" style="cursor: default; padding:10px">
          <div class="col noPad font-weight-bold">Receiver</div>
          <div class="col text-right noPad">{{receiver}}</div>
        </div>
      </div>
      <div class="container-fluid noPad">
        <div class="row scheduleChoice" style="cursor: default; padding:10px">
          <div class="col noPad font-weight-bold">Receiver Result</div>
          <div class="col text-right noPad">{{receiverResult.name}}</div>
        </div>
      </div>
      <div class="container-fluid noPad">
        <div class="row scheduleChoice" style="cursor: default; padding:10px">
          <div class="col noPad font-weight-bold">Defender</div>
          <div class="col text-right noPad">{{defender}}</div>
        </div>
      </div>
      <div class="container-fluid noPad">
        <div class="row scheduleChoice" style="cursor: default; padding:10px">
          <div class="col noPad font-weight-bold">Defender Result</div>
          <div class="col text-right noPad">{{defenderResult}}</div>
        </div>
      </div>
    </div>
    <button class="btn btn-block btn-outline-success text-center font-weight-bold"  (click)="submit()" style="background:white">Submit</button>
    <button class="btn btn-block btn-outline-danger text-center font-weight-bold"  (click)="cancel()" style="background:white">Cancel</button>
  </div>
</div>
