<div class="container-fluid background" style="padding:0;">
  <app-header></app-header>
  <div class="container-fluid" style="margin-top:10px;">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-sm-12">   
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
