<div class="container-fluid" class="playerHeaderBorder">
  <div class="row">
    <div class="col-lg-1 col-sm-3 col-md-2">
      <img src="../../../assets/profile.jpg" style="max-height:100%; max-width:100%; border:2px solid black;">
    </div>
    <div class="col-sm-9 col-lg-11 col-md-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 text-center name"> {{player.full_names}}
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            Birth Place: {{player.birth_places}}
          </div>
          <div class="col-2">
            Birth Date: {{player.birth_dates}}
          </div>
          <div class="col-2">
            Height: {{player.heights}}
          </div>
          <div class="col-2">
            Weight: {{player.weights}}
          </div>
          <div class="col-2">
            Schools: {{player.schools}}
          </div>
          <div class="col-2">
            Player Since: {{player.joined_league}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
