<div class="card">
  <div class="card-header text-center">
    TEAMS
  </div>
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item" *ngFor="let team of getTeams()" (click)="setSelectedTeam(team)">
        <a class="nav-link" [ngClass]="{'active':isSelectedTeam(team)}" style="cursor:pointer">{{team.team_names}}</a>
      </li>
    </ul>
  </div>
  <div class="card-block">
      <div *ngFor="let player of getPlayers()">
        <div style="padding:10px; border:1px solid black; margin-top:5px;" *ngIf="isPlayerOnTeam(player)">
            <app-player-header [player]="player"></app-player-header>
        </div>
    </div>
  </div>
</div>
