<div class="card">
  <div class="card-header">
    VSPN.football - Home of the Flag Football STAT-TRACKER
  </div>
  <div class="card-block">
    <i>This website is intended for the use of VSP players in the City of Folsom Adult Flag Football League.  Any use of this website without VSPN’s express written consent is prohibited.</i>
  </div>
</div>
